<form class="example-form" (submit)="login()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User</mat-label>
    <input matInput placeholder="User" name="userId" [(ngModel)]="order.userId">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Total</mat-label>
    <input matInput placeholder="Total" name="total" [(ngModel)]="order.total">
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Place Order</button>

</form>

